
    <footer>

<!--
    <ul>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Policy & Safety</a></li>
      <li><a href="#">Send Feedback</a></li>
      <li><a href="#">Try Something New</a></li>
    </ul>

    <h4>Copyright &copy; 2017 SIMPLE BLOG Inc.</h4>
-->

  </footer>

    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.superslides.js"></script>
    <script src="/js/myscript.js"></script>
      
    <script>
        $('.carousel').carousel({
            interval: 4000 //changes the speed
        });
        //$(".contentContainer").css("min-height", $(window).height());
    </script>

</body>
</html>