<% include ./partials/header %>
    
    <div class="wrapper">
        <form class="form-signin" method="post" action="/admin/login">       
            <h2 class="form-signin-heading">Please login As Admin</h2>
            <input type="text" class="form-control" name="adminusername" placeholder="Enter Username" required autofocus="">
            <input type="password" class="form-control" name="adminpassword" placeholder="Enter Password" required>     
            <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
        </form>
    </div>
        
<!--
    <input type="text" name="username" placeholder="Enter Username" required>
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
-->

<% include ./partials/footer %>