<% include ../partials/header %>

<div class="container-fuid">
    <header class="jumbotron text-center">
        <h1>Welcome to the campgrounds</h1>
        <p>this is the best campsites in the world</p>
        <p><a class="btn btn-theme btn-lg btn-min-block" href="/campgrounds/new">Add a new campground</a></p>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% varcampgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail center">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">more info...</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
    
</div>

<% include ../partials/footer %>